:host {
  width: 100%
}

.shopping-cart-item-info {
  display: flex;
  flex-direction: column;

}

button {
  padding: 0.5rem 0.5rem;
  max-height: 45px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: 2px 2px 0 0 #000, 2px 2px 0 2px #fff;
  background: white;
  border: 2px solid #000;
  border-radius: 0.5rem;

  &:hover {
    background: #efefef;
  }
}
