<div class="shopping-cart">
  <h3>Shopping Cart</h3>
  @for (item of shoppingCartItem().shoppingCartItems; track item.name) {

    <details class="shopping-cart-item">
      <summary>
        <span>{{ item.totalAmount }} x {{ item.name }}</span>
        <span> {{ calculateTotalItemPrice(item.totalAmount, item.defaultPrice, item?.specialOfferAmount, item?.specialOfferPrice) | currency:'EUR' }}</span>
      </summary>

      <ul class="detail-list">
        <li>Standard price: {{ getAmountOfNormalItems(item.totalAmount, item.specialOfferAmount) }}x</li>
        <li>Offer price:  {{ getAmountOfOfferItems(item.totalAmount, item.specialOfferAmount) }}x</li>
      </ul>

    </details>
    <button (click)="removeItemFromShoppingCart(item.name)">Remove</button>

  }

  <p class="total-price">Total: {{ totalPrice() | currency:'EUR' }}</p>
</div>
