<h2>Welcome into the shopping area</h2>

<div class="container">

  <div class="product-list">
    @for (product of products; track product.name) {
      <div class="product-list-item" [class]="product.name.toLowerCase()">
        <div>
          <h3>{{ product.name }}</h3>
          <p>Price: {{ product.defaultPrice | currency: 'EUR' }}</p>

          @if (product.specialOfferAmount) {
            <p>Special Offer: {{ product.specialOfferAmount }} for {{ product.specialOfferPrice | currency:'EUR' }}</p>
          }
        </div>


        <button (click)="addToShoppingCart(product)">Buy</button>

      </div>
    }
  </div>

  <app-shopping-cart></app-shopping-cart>
</div>

